<div *ngIf="!country; else divCountry" class="alert alert-info">
    Espere por favor .....
</div>

<ng-template #divCountry>
    <div class="row">
        <div class="col-12">
            <h1>País: <small> {{ country[0].name.common }} </small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img class="img-thumbnail" [src]="country[0].flags.png" [alt]="country[0].flags.alt">
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población: </strong> {{ country[0].population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Codigo: </strong> {{ country[0].cca2 }}
                </li>
            </ul>
        </div>
    </div>
</ng-template>
