<h3>
  Buscar por región <small> {{ activeRegion | titlecase }} </small>
</h3>
<hr />
<h5>Seleccione la region</h5>

<div class="row">
  <div class="col">
    <button
    *ngFor="let region of regions"
      [class]="getClassCss(region)"
      (click)="activateRegion(region)"
    >
      {{ region | titlecase }}
    </button>
  </div>
</div>

<div class="alert alert-danger" *ngIf="thereIsError">
  No se encontró nada con el termino {{ activeRegion }}
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
